nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  background: #333;
  padding: 10px;
  margin: 0;
}

nav a {
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
}

nav a:hover {
  background: #555;
}

html, body {
  height: 100%;              /* occupe toute la hauteur */
  margin: 0;
  display: flex;
  flex-direction: column;    /* empile menu, contenu, footer */
}

main {
  flex: 1;                   /* prend tout l’espace disponible */
}

footer {
  background-color: #222;
  color: #ddd;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

footer a {
  color: #4e4caf;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #8188c7;
  text-decoration: underline;
}

.discord-icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

/* Bouton hamburger caché en grand écran */

.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

/* Responsive : en dessous de 768px */
@media (max-width: 768px) {
  nav ul {
    display: none;           /* cache le menu par défaut */
    flex-direction: column;  /* menu vertical */
    background: #333;
    width: 100%;
  }

  nav ul.show {
    display: flex;           /* affiche le menu quand actif */
  }

  .menu-toggle {
    display: block;          /* bouton hamburger visible */
    padding: 10px;
    background: #333;
  }
}


/*théme */

body{background-color: black;}
p,h1,h2,h3,h4,h5,h6,text,title{
    color: white;
}

.robot_n1 {
  width: 900px;
  height: 500px;
  vertical-align: middle;
  margin-right: 5px;}

.img {
  width: 900px;
  height: 500px;
  vertical-align: middle;
  margin-right: 5px; 
}
