nav ul {
  list-style: none;
  display: flex;
  gap: 20px;
  background: #222;
  padding: 14px;
}

nav a {
  margin-left: 30px;
  text-decoration: none;
  color: white;
  padding: 8px 12px;
  border-radius: 4px;
}
.buttons-nav {
  margin-left: 20%;
  display: flex;
  align-items: center;
}


nav a:hover {
  background: #555;
}

html, body {
  height: 100%;
  margin: 0;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
}

footer {
  background-color: #222;
  color: #ddd;
  text-align: center;
  padding: 15px;
  font-size: 14px;
}

footer a {
  color: #4e4caf;
  text-decoration: none;
  font-weight: bold;
}

footer a:hover {
  color: #8188c7;
  text-decoration: underline;
}

h1 {
  font-family: 'Poppins', sans-serif;
}

.discord-icon {
  width: 18px;
  height: 18px;
  vertical-align: middle;
  margin-right: 5px;
}

.menu-toggle {
  display: none;
  font-size: 24px;
  color: white;
  cursor: pointer;
}

main h1,
main p {
  margin-left: 25%;
}

@media (max-width: 768px) {
  nav ul {
    display: none;
    flex-direction: column;
    background: #333;
    width: 100%;
  }

  nav ul.show {
    display: flex;
  }

  .menu-toggle {
    display: block;
    padding: 10px;
    background: #333;
  }
}

#projets-actuels {
  margin-left: 20%;
  margin-top: 50px;
}

#projets-actuels h2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 700;
  font-size: 28px;
  margin-bottom: 20px;
  color: white;
}

.projet-card {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  background-color: #1a1c22;
  padding: 15px;
  border-radius: 10px;
  max-width: 250px;
  margin-bottom: 20px;
}

.projet-image {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.projet-card h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  color: white;
  margin: 0 0 10px 0;
}

.voir-plus {
  background-color: #6a5cff;
  color: white;
  border: none;
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
}

.voir-plus:hover {
  background-color: #4e4caf;
}

body {
  background-color: #0f1115;
  font-family: 'Roboto', sans-serif;
}

p, h1, h2, h3, h4, h5, h6, text, title {
  color: white;
}

h1 .accentuated {
  background: linear-gradient(90deg, #6a5cff, #4ecdc4);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.robot_n1 {
  max-width: 100%;
  width: 400px;
  height: auto;
  border-radius: 10px;
  display: block;
}

.slider-container {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 15px;
  margin: 20px auto;
}

.slider-wrapper {
  position: relative;
  max-width: 400px;
  overflow: hidden;
}

.slider-image {
  display: none;
}

.slider-image.active {
  display: block;
}

.slider-btn {
  background-color: #6a5cff;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 50%;
  cursor: pointer;
  font-size: 18px;
}

.slider-btn:hover {
  background-color: #4e4caf;
}
