.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.images_robot {
  width: 100px;
  height: 200px;
  vertical-align: middle;
  border-radius : 50px
  margin-right: 5px;}





