.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.robot_n1 {
  width: 900px;
  height: 500px;
  vertical-align: middle;
  margin-right: 5px;}


