.container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}
.images_robot {
  width: 100px;
  height: 40px;
  vertical-align: middle;
  margin-right: 5px;}




