.container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    gap: 20px;
}

.robot-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.images_robot {
    width: 400px;
    height: 400px;
    border-radius: 50px;
    margin-bottom: 10px;
}

.btn-select {
    padding: 10px 20px;
    background-color: #0f1524;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
}

.btn-select:hover {
    background-color: #45a049;
}







